

.print-area {
  background-color: white;
  width: 210mm;
  height: 297mm;
}


.printData{
  border-collapse: collapse;
}


.storename {
  background-color: white;
  text-align: center;
}

.print-storename {
  font-size: 30px;
  background-color: white;
  text-align: center;
}

.print-table-header th, .printData td {
  overflow: hidden;
  height: 23px;
  white-space: nowrap;
  border: 1px solid black; /* 境界線 */
  padding: 6px;           /* セルの内側に余白 */
  /* text-align: left; */
}

.print-table-header th {
  font-size: 12px;
  background-color: #f2f2f2; /* ヘッダーの背景色 */
  font-weight: bold;         /* ヘッダーの太字 */
}

.printData tr:nth-child(even) {
  background-color: #f9f9f9; /* 偶数行の背景色を変更 */
}

.P-vender {
  font-size: 12px;
  min-width: 50px;
  max-width: 50px;
  text-overflow: ellipsis;
  text-align: left;
}

.P-code {
  font-size: 14px;
  min-width: 38px;
  max-width: 38px;
  text-align: right;
}

.P-name {
  font-size: 12px;
  width: 90px;
  max-width: 220px;
  min-width: 210px;
  overflow: hidden;
  text-align: left;
}

.P-price {
 width: 54px;
 font-size: 12px;
 text-align: right;
}

.P-detail {
  font-size: 14px;
  min-width: 68px;
  max-width: 50px;
  text-align: center;
}

.P-number {
  font-size: 14px;
  min-width: 30px;
  text-align: right;
}

.P-personal {
  font-size: 14px;
  width: 50px;
  min-width: 54px;
  max-width: 50px;
  text-align: left;
}

.P-remarks {
  font-size: 14px;
  width: 65px;
  min-width: 65px;
  max-width: 65px;
  text-align: left;
}

.chack-cell {
  width: 30px;
  min-width: 35px;
}

.condition{
  text-align: right;
}

.special-row{
  background-color: white;
  text-align: center;
}

.total-row {
  position:  absolute;
  top: 1088px;
  left:  610px;  
}

@media print {
  @page {
    margin: 0; /* ページの余白をゼロに設定 */
  }
  body {
    zoom: 1;
    margin: 0; /* ページ全体の余白をゼロに設定 */
    padding: 0;
  }
}
